---
import Layout from "../../layouts/Layout.astro";
import { getNotes } from "../../domains/Notes";
import Badge from "../../components/Badge.astro";
import Button from "../../components/Button.astro";
import MarkdownContent from "../../components/MarkdownContent.astro";

export async function getStaticPaths() {
  const notes = await getNotes();
  return notes.map((note) => ({
    params: { slug: note.slug },
    props: { note },
  }));
}

const { note } = Astro.props;
const ogImage = `/og/note/${note.id}.png`;
---

<Layout title={note.title} description={note.preview} image={ogImage}>
  <main class="max-w-3xl mx-auto mt-12">
    <Button variant="secondary" size="sm" as="a" href="/notes" class="mb-8 inline-block">
        &larr; Back to writing
    </Button>

    <article class="bg-primary/5 p-8 rounded-lg shadow-bulge border-2 border-primary">
      <h1 class="text-4xl md:text-5xl font-bold mb-6">{note.title}</h1>

      <div class="flex flex-wrap gap-4 mb-8">
        {note.tags.map((tag) => <Badge key={tag.name} {...tag} />)}
      </div>

      <MarkdownContent class="prose prose-lg dark:prose-invert max-w-none" content={note.body} />
    </article>
  </main>
</Layout>
